.main2{
     width: 100%;
     height: 300px;
     display: flex;  
     justify-content: space-between;
     align-items: center;
     background-color: rgba(122, 109, 209, 0.76);
     border-radius: 10px;
}